@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  top: -0.7rem;
  cursor: pointer;
  text-indent: -9999px;
  width: 25px;
  height: 15px;
  background: #f8c400;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 1.8px;
  left: 2.5px;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + label {
  background: #EAEAEA;
}

input:checked + label:after {
  left: calc(100% - 2.5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.buttonLabel {
  top: -0.7rem;
  cursor: pointer;
  text-indent: -9999px;
  width: 35px;
  height: 20px;
  background: #EAEAEA;
  display: block;
  border-radius: 100px;
  position: relative;
}

.buttonLabel:after {
  content: '';
  position: absolute;
  top: 2.5px;
  left: 3px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + .buttonLabel {
  background: #f8c400;
}

input:checked + .buttonLabel:after {
  left: calc(100% - 2.5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.cardWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardContainer {
  margin: 5rem 0;
  width: 534px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.buttonBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.closeButton {
  background-color: transparent;
  border: none;
  position: relative;
  top: 12px;
}

.header {
  font-size: 23px;
  font-weight: bold;
}

.navigationMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: -10px;
}

.navigationMenu .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  color: #808080;
  font-weight: 600;
}

.cakeDisplay {
  border: 1px solid #ececec;
  border-radius: 10px;
  background-color: #f9fafb;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 2%;
  margin-right: 10px;
}

.balanceNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 12px;
  font-weight: 600;
  -webkit-box-pack: "center";
      -ms-flex-pack: "center";
          justify-content: "center";
  margin-top: 10px;
}

.balanceNav .showBalance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.balanceNav .balance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
  color: #a8a8a8;
}

.timeframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10px;
}

.timeframe #button1 {
  background: #fceb74;
  border: 1px solid #fed700;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 10px rgba(87, 16, 112, 0.08);
          box-shadow: 0px 2px 10px rgba(87, 16, 112, 0.08);
  border-radius: 30px;
  padding: 7px 30px;
  font-size: 12px;
  font-weight: 600;
  color: #a2a2a2;
  color: black;
}

.timeframe .button2 {
  background: #f9fafb;
  border: 1px solid #f9fafb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 10px rgba(87, 16, 112, 0.08);
          box-shadow: 0px 2px 10px rgba(87, 16, 112, 0.08);
  border-radius: 30px;
  padding: 7px 30px;
  font-size: 12px;
  font-weight: 600;
  color: #a2a2a2;
}

.enabler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.displayer {
  border: 1px solid #ececec;
  border-radius: 10px;
  background-color: #f9fafb;
  height: 60px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 2%;
}

.balance1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
}

.mainButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.mainButton .mainButton1 {
  padding: 14px 95px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
  background: black;
  opacity: 0.8;
  -webkit-box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  border: none;
  border: 1px solid black;
}

.mainButton .mainButton2 {
  padding: 14px 95px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: black;
  background: white;
  opacity: 0.8;
  -webkit-box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  border: none;
  border: 1px solid black;
}

.toggleButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.toggleButton .showButton {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: none;
  background-color: transparent;
}

.firstHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.textStyle {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #a3a3a3;
}

button {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/*# sourceMappingURL=Style.css.map */